/* These are Kombai generated variables */
:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-white-opacity: rgba(255, 255, 255, 0.8);
  --color-white-text: #F5F5F5;
  --color-light-grey: rgb(205, 205, 205);
  --color-light-grey-text: rgb(159, 159, 159);
  --color-dark-grey: rgb(141, 141, 141);
  --color-dark-grey-text: rgb(74, 74, 74);
  --color-dimgrey-ee4a52a: rgb(174, 178, 184);
  --color-teal-55032a1f: rgba(1, 135, 95, 1);
  --color-honeydew-822a6976: rgba(230, 243, 239, 1);
  --color-darkslategrey-988b4616: rgba(5, 100, 73, 1);
  --color-gainsboro-e44dcec2: rgba(218, 220, 224, 1);
  --color-black-67adb616: rgba(24, 24, 24, 1);
  --color-black-b20acc0b: rgba(32, 33, 36, 1);
  --color-black-dark: rgba(52, 52, 52, 1);
  --color-light-dark: rgb(99, 99, 99);
  --color-light-dark-50: rgb(99, 99, 99, 0.5);
  --color-blue-discount: rgb(0, 119, 255);
  --color-dark-background: #222222;
  --color-button-cart: #19bc8b;
  --color-black: rgb(0,0,0,1);
  --font-size-15_5: 15.5px;
  --font-size-14: 1.5vmin;
  --font-size-12: 1.2vmin;
  --font-size-8: 1vmin;
  --font-size-16: 1.8vmin;
  --font-size-18: 2vmin;
  --font-size-44: 5vmin;
  --font-size-50: 5.5vmin;
  --font-size-22: 2.5vmin;
  --font-size-6_5: 6.5px;
  --font-size-28: 3vmin;
  --font-size-32: 3.5vmin;
  --font-weight-700: 700;
  --font-weight-600: 600;
  --font-weight-500: 500;
  --font-weight-400: 400;
  --font-weight-300: 300;
  --border-radius-3: 3px;
  --border-radius-0: 0px;
  --border-radius-32: 32px;
  --border-radius-9999: 9999px;
  --border-radius-16: 16px;
  --border-radius-8: 8px;
  --border-radius-12: 12px;
}
