.container_footer {
    position: relative;
    width: 100%;
    height: 175px;
    background-color: #222;
    top: 75px;
}

.text_footer {
    top: 25px;
    font-family: 'Kode Mono';
    position: relative;
    color: azure;
    text-align: center;
    font-size: 48px;

}

.hr_footer {
    margin: 0 auto;
    position: relative;
    top: 35px;
    width: 99%;
}

.rights_text_footer {
    font-family: 'Kode Mono';
    color: azure;
    position: relative;
    font-size: 36px;
    top: 50px;
    text-align: center;
}

.my_github_footer {
    font-family: 'Kode Mono';
    color: azure;
    position: absolute;
    font-size: 48px;
    float: right;
    right: 25px;
    top: 25px;
}

@media (max-width:800px) {
    .my_github_footer, .text_footer { 
        font-size: 36px;
    }

    .rights_text_footer {
        font-size: 24px;
    }
    .container_footer {
        height: 150px;
    }
}

@media (max-width:615px) {
    .my_github_footer, .text_footer { 
        font-size: 24px;
    }

    .rights_text_footer {
        font-size: 18px;
    }

    .container_footer {
        height: 125px;
    }
}

@media (max-width:500px) {
    .my_github_footer, .text_footer { 
        font-size: 18px;
    }

    .rights_text_footer {
        font-size: 14px;
    }

    .container_footer {
        height: 110px;
    }
}

@media (max-width:330px) {
    .my_github_footer, .text_footer { 
        font-size: 14px;
    }

    .rights_text_footer {
        font-size: 12px;
    }

    .container_footer {
        height: 100px;
    }
}

@media (max-width:250px) {
    .my_github_footer, .text_footer { 
        font-size: 10px;
    }

    .rights_text_footer {
        font-size: 8px;
    }

    .container_footer {
        height: 90px;
    }
}

@media (max-width: 230px) {
    .container_footer {   
        width: 230px;
    }

    .hr_footer { 
        width: 230px;
    }
}