@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter.ttf");
  font-weight: normal;
  font-style: normal;
}
.buttons-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.primary-content-container {
  /* position: fixed; */
  padding-top: 12vmin;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-color: var(--color-dark-background);
  width: 100%;
  /* height: 18vmin; */
}
.flex-row-with-gap {
  flex: 0 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 2vmin;
  align-items: stretch;
  justify-content: flex-start;
  height: 4vmin;
}
.rounded-container-with-icons-and-text {
  flex: 0 0 auto;
  /* border-radius: var(--border-radius-9999); */
  /* border: 0.1vmin solid var(--color-dimgrey-ee4a52a); */
  /* background: transparent; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 2vmin;
  cursor: pointer;
}
/* .rounded-container-with-icons-and-text:hover,
.rounded-container-with-icons-and-text:focus {
  color: var(--color-white) !important;
  transition: 0.3s;
} */
.options-description-text-style {
  flex: 0 0 auto;
  font: var(--font-weight-500) var(--font-size-18) "Roboto";
  font-family: "Inter", sans-serif !important;
  color: var(--color-dimgrey-ee4a52a);
  letter-spacing: 0.1vmin;
}
.options-description-text-style:hover,
.options-description-text-style:focus {
  color: var(--color-white);
  transition: 0.2s;
}
.sb-example-3 .search__input {
  width: 100%;
  padding: 12px 24px;

  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.sb-example-3 .search__input::placeholder {
  color: rgba(87, 87, 86, 0.8);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.sb-example-3 .search__input:hover,
.search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
  color: #19bc8b
}
.offset {  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23vmin;
  box-shadow: 
    0.3em 0.3em 0 0 var(--color),
    inset 0.3em 0.3em 0 0 var(--color);
  --color: #c17fcb;
  --hover: #2ade9f;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  padding: 0.5vmin;
  color: var(--color);
  transition: 0.25s;
}

.offset:hover,
.offset:focus {
  box-shadow: 
    0 0 0 0 var(--hover),
    inset 6em 3.5em 0 0 var(--hover);
  border-color: var(--hover);
  color: #fff;
}