@font-face {
    font-family: "Kode Mono";
    src: url("../fonts/KodeMono-SemiBold.ttf");
  }
.container {
    position: relative;
    top: 79px;
    width: 100%;
    height: 400px;
}

.title_header {
    position: relative;
    font-family: "Kode Mono", monospace;
    margin: 0 auto;
    font-size: 40px;
    right: 300px;
    top: 15px;
    width: 480px;
}

.robot_header {
    z-index: 1;
    position: absolute;
    left: 600px;
    bottom: -100px;
    pointer-events: none;

}

.form_signUp_header {
    position: relative;
    margin: 0 auto;
    right: 300px;
    top: 25px;
    width: 475px;
}

.input_signUp_header {
    border: none;
    width: 480px;
    margin-bottom: 15px;
    height: 45px;
    border-radius: 10px;
    font-size: 14px;
    padding-left: 25px;
}

.email_header, .password_header {
    position: relative;
    left: 10px;
    bottom: 5px;
    width: 100px;
}

.mdEmail_header {
    position: absolute;
    right: 10px;
    top: 30px;
    z-index: 1;
}

.mdPassword_header {
    position: absolute;
    right: 10px;
    top: 107px;
    z-index: 1;
}

.input_signUp_header:hover {
    opacity: 0.9;
}

.input_signUp_header:focus {
    outline: none;
}

.button_signUp_header {
    width: 225px;
    height: 45px;
    border: none;
    border-radius: 10px;
    color: #edf5e1;
    margin: 0 auto;
    display: block;
}

.button_signUp_header:hover {
    opacity: 0.9;
}

@supports (-moz-appearance:none) {
    .mdPassword_header {
        top: 112px;
    }

    .input_signUp_header {
        margin-bottom: 0px;
    }
}


@media (max-width: 1600px) {
    .robot_header {
        display: none;
    }

    .form_signUp_header, .title_header  {
        left: 0;
        margin: 0 auto;
    }
}

@media (max-width: 700px) {
    .title_header  {
        max-width: 290px;
        font-size: 24px;
        text-align: center;
    }

    .input_signUp_header {
        margin: 0 auto;
        display: block;
        width: 285px;
    }
    .button_signUp_header {
        width: 135px;
    }

    .mdEmail_header {
        right: 105px;
    }

    .mdPassword_header { 
        right: 105px;
        top: 112px;
    }

    .email_header, .password_header {
        left: 110px;
    }

    .container {
        height: 350px;
    }
}

@media (max-width: 475px) {

    .title_header  {
        max-width: 290px;
        font-size: 16px;
        text-align: center;
    }

    .input_signUp_header {
        margin: 0 auto;
        display: block;
        width: 200px;
        height: 24px;
        font-size: 8px;
        padding-left: 15px;
        border-radius: 5px;
    }
    .button_signUp_header {
        width: 100px;
        height: 24px;
        font-size: 8px;
        margin-left: 10px;
        border-radius: 5px;
        position: relative;
        left: 40px;
    }

    .form_signUp_header {
        width: 200px;
    }

    .container {
        height: 250px;
        background-color: #5cdb95;
    }

    .mdEmail_header {
        top: 14px;
        right: 3px;
    }

    .mdPassword_header {
        top: 72px;
        right: 3px;
    }

    .email_header, .password_header {
        left: 5px;
        font-size: 12px;
    }
}

@media (max-width: 300px) {
    .form_signUp_header {
        max-width: 200px;
    }
    .title_header  {
        font-size: 14px;
        max-width: 200px;
    }

    .input_signUp_header {
        max-width: 200px;
        margin-left: 0px;
    }

    .button_signUp_header {
        width: 100px;
    }

    .mdEmail_header {
        right: 3px;
        top: 14px;
    }

    .mdPassword_header { 
        right: 3px;
        top: 72px;
    }

    .container {
        height: 235px;
    }
}

@media (max-width: 230px) {
    .container  {
        width: 230px;
    }

}