.container_our_team {
    max-width: 800px; 
    margin: 0 auto; 
}

.text_our_team {
    position: relative;
    top: 120px;
    text-align: center;
    right: 50px;
    font-size: 36px;
}

.slick-slider { 
    top: 200px;
    width: 500px;
    left: 100px;
}

.img_our_team {
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.name_our_team, .review_our_team {
    margin-top: 10px;
    text-align: center;
}

@media (max-width:360px) {
    .container_our_team { 
        display: none;
    }
}